.App {
  text-align: center;
}

header {
  font-size: 2rem;
  font-family: "Pacifico", cursive;
  padding: 1rem 3rem;
  background-color: #2ea44f;
  color: white;
}

header div {
  display: flex;
  justify-content: space-between;
}

header p {
  margin: 0;
  /* transform: rotate(-20deg); */
}

.main {
  margin: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 10%;
}

.mid-section {
  width: 80%;
}

.mid-section .ques {
  height: 500px;
}

.mid-section p {
  font-size: 3rem;
}

.timer-container {
  display: flex;
  justify-content: center;
}

.controls {
  margin-top: 2rem;
}

.controls button {
  width: 100px;
}

.right-section {
  width: 10%;
}
